<!DOCTYPE html>
<html>
<head>
	<script src="/js/main.js"></script>
	<script src="/js/constants.js"></script>
	<script src="/js/building.js"></script>
	<script src="/js/person.js"></script>
	<script src="/js/phaser.js"></script>
</head>
<body>
	<div id="main-canvas">
	</div>
</body>
</html>
		